<br>
<div fxLayout="row" fxLayout-align="center center" fxLayoutGap="30px">
    <div fxFlex="20%"></div>
    <mat-card fxFlex="30%" class="example-card">
        <div fxLayout="row" fxLayout-align="start center">
            <div fxFlex>
                <h3 style="margin: 0px;">User : {{userId}}</h3>
            </div>
            <div>
                <mat-icon color="accent" style="cursor: pointer;" (click)="isEdit=false; newToDoObj = {data :{}}; showAddToDoPanel=true">add_circle</mat-icon>
            </div>
        </div>
        <hr>
        <mat-card-content fxLayout="column" *ngIf="todoIds.length > 0" fxLayoutGap="10px">
            <mat-card fxFlex  *ngFor="let item of todoList | keyvalue let i = index" class="example-card"
                ng-init="toggleObj[item.key] = false">
                <div fxLayout="row" fxLayout-align="center center" style="cursor: pointer;"
                    (click)="toggleObj[item.key] = !toggleObj[item.key]">
                    <div fxFlex="80%"><b>{{item.value.note}}</b></div>
                    <div>
                        <mat-icon color="primary" 
                                  style="font-size: 20px;cursor: pointer;"
                                  (click)="todoPreview(item); isEdit=true">edit</mat-icon>
                    </div>
                    <div>
                        <mat-icon color="warn" 
                                  style="font-size: 20px;cursor: pointer;"
                                  (click)="deleteToDo(item.key)">delete</mat-icon>
                    </div>
                </div>
                <mat-card-content *ngIf="toggleObj[item.key]">
                    {{item.value.desc}}
                </mat-card-content>
            </mat-card>
        </mat-card-content>
        <div fxLayout="row" fxLayout-align="center center" *ngIf="todoIds.length == 0">
                <span>Your todo list is empty <span style="color:blue; cursor: pointer;" (click)="isEdit=false; newToDoObj = {data :{}}; showAddToDoPanel=true">Add New</span></span>
        </div>
    </mat-card>

    <!-- Add/Update Todo -->
    <div fxFlex="20%" *ngIf="showAddToDoPanel">
        <mat-card fxFlex class="example-card" style="height: 248px">
            <mat-card-header>
                <mat-card-title>{{(isEdit) ? 'Edit' : 'Add New'}} ToDo</mat-card-title>
            </mat-card-header>
            <mat-card-content fxLayout="column">
                <form class="example-form">
                    <div>
                        <mat-form-field fxFlex="100%">
                            <input matInput placeholder="Username" [(ngModel)]="newToDoObj.data.note" name="note"
                                required>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field fxFlex="100%">
                            <textarea matInput placeholder="Description" [(ngModel)]="newToDoObj.data.desc" name="desc"
                                required></textarea>
                        </mat-form-field>
                    </div>
                    <mat-card-actions>
                        <button mat-raised-button *ngIf="!isEdit" (click)="addTotdoToList()" color="primary">Add</button>
                        <button mat-raised-button *ngIf="isEdit" (click)="updateToDo(item)" color="primary">Edit</button>
                        <button mat-raised-button (click)="showAddToDoPanel = false">Cancel</button>
                    </mat-card-actions>
                </form>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex="20%"></div>
</div>