<router-outlet>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">menu</mat-icon>
      <div fxFlex fxLayoutAlign="center center"><span>{{title}}</span></div>
      <span class="example-spacer"></span>
      <a><mat-icon routerLink="/" style="cursor: pointer;" class="example-icon" aria-hidden="false" aria-label="Example delete icon">settings</mat-icon></a>
    </mat-toolbar-row>
  </mat-toolbar>
  <br><br>
</router-outlet>

