<div fxLayout="column">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">menu</mat-icon>
      <div fxFlex fxLayoutAlign="center center"><span>{{title}}</span></div>
      <span class="example-spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">settings</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <div>
    <div fxFlex="40%"></div>
    <mat-card fxFlex="20%" class="example-card">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="example-form">
          <table class="example-full-width" cellspacing="0" style="width:100%;">
            <tr>
              <td>
                <mat-form-field class="example-full-width" fxLayoutFill>
                <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                </mat-form-field>
              </td>
            </tr>
            <tr>
            <td><mat-form-field class="example-full-width">
              <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
            </mat-form-field></td>
          </tr></table>
        </form>
        <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button (click)="login()" color="primary">Login</button>
      </mat-card-actions>
    </mat-card>
  </div>
    
</div>


